In [1]:
import pandas as pd
import numpy as np
dff = pd.read_csv("data_1000.csv")
dff.head()

   column_1  column_2  salary
0 -1.571797 -0.102878   93267
1  0.703518 -0.826629   95173
2 -0.435002  0.121547   94817
3 -1.623334  1.727964   84863
4 -0.713007 -0.256559   81179

In [2]:
dff.shape

(1000, 3)

In [3]:
dff.dropna(how='any',inplace=True)

In [4]:
%%time
from sklearn.neighbors import KNeighborsRegressor
model = KNeighborsRegressor(n_neighbors=2)

Wall time: 291 ms

In [5]:
import time
start = time.time()
model.fit(dff[["column_1","column_2"]],dff['salary'])
end = time.time()
print(end - start)

0.0

In [6]:
model

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=2, p=2,
          weights='uniform')

In [7]:
%%time
model.fit(dff[["column_1","column_2"]],dff['salary'])

Wall time: 15.6 ms

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=2, p=2,
          weights='uniform')